---
import {Icon} from "astro-icon/components";
---
<section id="projects" class="my-16 mx-auto max-w-4xl px-4 md:px-0">
    <!-- About content -->
    <div class="flex-grow text-left">
        <div class="relative inline-block">
            <h2 class="text-3xl font-bold mb-2">About Me</h2>
            <div class="absolute bottom-0 left-0 w-full h-1 bg-gradient-to-r from-slate-500 to-slate-400"></div>
        </div>
        <p class="text-base mt-4 md:text-lg">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua...
        </p>
        <!-- icon -->
        <div class="flex justify-start items-center mt-8 space-x-4">
            <a href="https://www.linkedin.com/in/wangxinyi26" target="_blank" class="inline-block">
                <Icon name="linkedin" class="w-6 h-6 md:w-8 md:h-8" />
            </a>
            <a href="mailto:wxinyi26@gmail.com" class="inline-block">
                <Icon name="email" class="w-6 h-6 md:w-8 md:h-8" />
            </a>
            <a href="https://github.com/XinyiWg" target="_blank" class="inline-block">
                <Icon name="github" class="w-6 h-6 md:w-8 md:h-8" />
            </a>
            <a href="https://github.com/XinyiWg" target="_blank" class="inline-block">
               <strong>Resume</strong> 
            </a>
            <!-- <a href="https://github.com/XinyiWg" target="_blank" class="inline-block">
                简历
            </a> -->
        </div>
    </div>
    
    <!-- Avatar -->
    <!-- <div class="mt-4 md:mt-0 w-64 h-64 md:w-[350px] md:h-[400px] bg-cover bg-center rounded-full md:rounded-lg mx-auto md:mx-0" style="background-image: url('/images/s.jpg');"></div> -->
</section>
