<footer class="bg-beige-100 text-gray-800 py-6">
    <div class="max-w-4xl mx-auto px-4 flex flex-wrap justify-between items-center text-center md:text-left">
        <!-- Footer Left -->
        <div class="w-full md:w-auto mb-4 md:mb-0">
            <p class="text-lg">&copy; 2024 Xinyi Wang 王心怡. All rights reserved.</p>
        </div>

        <!-- Footer Right -->
        <div class="flex space-x-4 justify-center md:justify-start w-full md:w-auto">
            <p>Last updated: Feb. 2024</p>
        </div>
    </div>
</footer>
