<footer class="bg-beige-100 py-6 text-gray-800">
  <div
    class="mx-auto flex max-w-4xl flex-wrap items-center justify-between px-4 text-center md:text-left"
  >
    <!-- Footer Left -->
    <div class="mb-4 w-full md:mb-0 md:w-auto">
      <p class="text-lg">&copy; 2025 Xinyi Wang</p>
    </div>

    <!-- Footer Right -->
    <div class="flex w-full justify-center space-x-4 md:w-auto md:justify-start">
      <p>Last updated: Sep. 2025</p>
    </div>
  </div>
</footer>
