<section id="misc" class="mx-auto my-16 max-w-4xl px-4 md:px-0">
  <div class="relative inline-block">
    <h2 class="mb-2 text-3xl font-bold">Miscellaneous</h2>
    <div class="absolute bottom-0 left-0 h-1 w-full bg-gradient-to-r from-amber-400 to-yellow-300">
    </div>
  </div>

  <div class="mt-6 space-y-4"></div>
</section>
