<nav id="desktop-nav" class="mb-0 flex h-[13vh] items-center justify-around">
  <div class="text-3xl font-bold">Xinyi Wang</div>
  <ul class="hidden list-none gap-8 text-2xl md:flex">
    <li><a href="#about" class="nav-link">About</a></li>
    <li><a href="#experience" class="nav-link">Experience</a></li>
    <!-- <li><a href="#projects" class="nav-link">Projects</a></li> -->
    <li><a href="#misc" class="nav-link">Misc.</a></li>
  </ul>
</nav>

<script>
  const navLinks = document.querySelectorAll(".nav-link");

  navLinks.forEach((link) => {
    link.addEventListener("click", smoothScroll);
  });

  function smoothScroll(event) {
    event.preventDefault();
    const targetId = this.getAttribute("href");
    const targetElement = document.querySelector(targetId);
    const offsetTop = targetElement.offsetTop;
    window.scrollTo({
      top: offsetTop,
      behavior: "smooth",
    });
  }
</script>
