<section id="projects" class="mx-auto my-16 max-w-4xl px-4 md:px-0">
  <div class="relative inline-block">
    <h2 class="mb-2 text-3xl font-bold">Projects</h2>
    <div class="absolute bottom-0 left-0 h-1 w-full bg-gradient-to-r from-slate-500 to-slate-400">
    </div>
  </div>

  <div class="mt-6 grid grid-cols-1 gap-8 md:grid-cols-2">
    <div class="rounded-lg border p-4 shadow-lg">
      <h3 class="mb-2 text-2xl font-semibold">Project 1</h3>
      <p class="text-md mb-4">...</p>
      <a href="#" class="text-blue-500 transition duration-300 hover:text-blue-700">...</a>
    </div>

    <div class="rounded-lg border p-4 shadow-lg">
      <h3 class="mb-2 text-2xl font-semibold">Project 2</h3>
      <p class="text-md mb-4">...</p>
      <a href="#" class="text-blue-500 transition duration-300 hover:text-blue-700">...</a>
    </div>
  </div>
</section>
